/* styles for demo - not needed for actual button styles */
form p {
  zoom: 1;
  display: block;
}

/** =SHARED BUTTON STYLES
----------------------------------------------- */
button.button { 
  position: relative;
  top: -2px;
  width: auto; 
  overflow: visible; 
}
button.button span { 
  position: relative;
  top: 1px;
  margin-top: 1px; 
}
button.button img, 
a.button img {
  margin-top: 1px;
}