/** =COMMON BUTTON STYLES
----------------------------------------------- */
.button { 
  float: left;
  margin: 0;
  border: 0; 
  padding: 0 14px 0 0; 
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  outline: none;
}
.button span { 
  position: relative; 
  display: block; 
  white-space: nowrap; 
  padding: 0 0 0 14px; 
  text-shadow: #fff 0 1px 0;
}
button:focus::-moz-focus-inner { 
  border-color: transparent !important; 
} 
button::-moz-focus-inner { 
  border: none;
  padding: 0;
}


a.button:link, 
a.button:visited {
  color: #333;
}
a.button:link span, 
a.button:visited span {
  float: left;
  display: inline;
}
a.icon_button span, 
button.icon_button span, 
a.disabled.icon_button:hover span, 
button.disabled.icon_button:hover span {
  padding-left: 8px !important;
}
.button img {
  border: 0;
  vertical-align: middle;
}


/* primary */
button.primary, 
a:link.primary, 
a:visited.primary {
  font-weight: bold;
  color: #000;
}

/* disabled */
button.disabled, 
a:link.disabled, 
a:visited.disabled {
  color: #aaa;
  cursor: default;
}
button.disabled img, 
a.disabled img {
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

/** =LARGE BUTTON STYLES
----------------------------------------------- */
.large_button,
.disabled.large_button:hover { 
  background: url("../images/large_normal.png") right no-repeat;
}
.large_button span,
.disabled.large_button:hover span { 
  height: 15px; 
  line-height: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  background: url("../images/large_normal.png") left no-repeat;
  font-size: 15px;
}
.large_button:hover {
  background: url("../images/large_hover.png") right no-repeat; 
}
.large_button:hover span {
  background: url("../images/large_hover.png") left no-repeat;
}
.large_button:active {
  background: url("../images/large_active.png") right no-repeat; 
}
.large_button:active span {
  background: url("../images/large_active.png") left no-repeat; 
}

/** =SMALL BUTTON STYLES
----------------------------------------------- */
.small_button,
.disabled.small_button:hover { 
  background: url("../images/small_normal.png") right no-repeat; 
}
.small_button span,
.disabled.small_button:hover span { 
  height: 11px; 
  line-height: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: url("../images/small_normal.png") left no-repeat;
  font-size: 11px;
}
.small_button:hover {
  background: url("../images/small_hover.png") right no-repeat; 
}
.small_button:hover span {
  background: url("../images/small_hover.png") left no-repeat; 
}
.small_button:active {
  background: url("../images/small_active.png") right no-repeat; 
}
.small_button:active span {
  background: url("../images/small_active.png") left no-repeat; 
}
