/* clear floats */
form p {
  zoom: 1;
  display: block;
}

/** =SHARED BUTTON STYLES
----------------------------------------------- */
button { 
  width: auto; 
  overflow: visible; 
}
button span { 
  margin-top: 1px; 
}