/* clear floats */
form p {
  zoom: 1;
  display: block;
}

/** =SHARED BUTTON STYLES
----------------------------------------------- */
button { 
  position: relative;
  top: -2px;
  width: auto; 
  overflow: visible; 
}
button span { 
  position: relative;
  top: 1px;
  margin-top: 1px; 
}